* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 20px;
}

.btn {
    padding: 10px;
    display: flex;
}

.container1 {
    text-align: center;
}

.container1 h1 {
    font-size: 3em;
    padding: 10px;
}

.container1 p {
    font-size: 1.1em;
    padding: 10px;
}

.container1 button {
    padding: 10px 60px;
    margin: 3rem;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 20px;
}

.btn button {
    background-color: blue;
    border: none;
    padding: 10px 40px;
    color: white;
    border-radius: 20px;
}

.he {
    padding: 10px;
    display: none;
}

img {
    max-width: 100%;
    /* object-fit: cover; */
}

.container2{
    background-image: linear-gradient(to bottom right,rgb(245, 245, 250) 50%,blue 50%);
    display: flex;
    justify-content: center;
}
.img2{
    position: absolute;
    z-index: 2;
    bottom: -30%;
}
.img1{
    position: absolute;
    z-index: 3; 
    bottom: 20%;
    left: 20%;
    right:50%;
    /* left: 10%;  */
}
.img3{
    position: relative;
    z-index: 1;
    top: 100px; 
   
}
@media(max-width:700px) {
    .he {
        display: block;
    }

    nav {
        display: none;
    }

    header {
        justify-content: space-between;
    }
}