*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    /* height: 100vh;
    width: 100vw; */
    display: flex;
}
.container1{
    background-color: white;
    border: 1px solid grey;
    width: 15%;
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* align-items: center; */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 5px;
}
.password{
    width: 60%;
}
.password input{
    width: 100%;
}
.img{
    padding: 10px;
}
.cont1{
    color: blue;
    padding: 5px;
}
.container2{
    background-color: white;
    border: 1px solid grey;
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.container3{
  width: 15%;
  margin: 10px;
}
.details1{
    display: flex;
    justify-content: space-between;
}
.det1{
    display: flex;
}
.det2 button{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px;
}
p{
    padding: 2px;
}
.form1{
    display: flex;
    justify-content: space-between;
}
.for1{
    width: 50%;
}
.for1 input{
    width: 95%;
}
.email input,textarea{
    width: 98%;
}
.details3{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.text button{
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
form{
    padding: 10px 0;
}
form p{
    padding: 10px 0;    
}
span{
    border: 1px solid gray;
    border-bottom: none;
    padding: 2px;
}
.line{
    border-bottom: 1px solid gray;
    width: 100%;
}
.setting{
    display: flex;
}
input{
    padding: 5px;
}
.save{
    float: right;
}
.save button{
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
.cont3{
    border: 1px solid gray;
    margin:0 0 10px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); 
    padding: 20px;
}
.cont3 h3{
    padding: 10px 0;
}
.cont3 .btn{
    padding: 10px 0;
}
#btnn{
    text-align: center;
}
.cont3 button{
    background-color: gray;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn button{
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;     
}